Repository dewsign/maxfactor-vue-cart: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint, jsonlint

.lintstagedrc:

{
    "*.js": [
        "eslint"
    ],
    "*.vue": [
        "eslint"
    ],
    "*.md": [
        "markdownlint"
    ],
    "*.json": [
        "jsonlint"
    ],
    ".*rc": [
        "jsonlint"
    ]
}

Update packages
  package-lock.json
  package.json
Due: jsonlint

0.3.2
  package-lock.json
  package.json
Due: jsonlint

Access cart through computed property to avoid incorrect data being used
  src/Cart/Mixin.js
Due: eslint

Only attempt to remove an item from the cart if it is actually in the cart
  src/Cart/Mixin.js
Due: eslint

Provide a way of overloading the minimum quantity of an item to avoid negative line items in the cart
  src/Cart/Mixin.js
Due: eslint

Updated changelog
  changelog.md
Due: markdownlint

Fix VAT calculations in cart and checkout
  src/Cart/Mixin.js
Due: eslint

Changelog
  changelog.md
Due: markdownlint

Fix tax calculations when shipping is charged
  src/Cart/Mixin.js
Due: eslint

0.4.0
  package-lock.json
  package.json
Due: jsonlint

store original payment provider before checking for free
  src/Cart/Mixin.js
Due: eslint

update checkout items if available
  src/Checkout/Mixin.js
Due: eslint

update cart with new checkouts
  src/Checkout/Mixin.js
Due: eslint

thanks marco
  src/Checkout/Mixin.js
Due: eslint

PR updates
  changelog.md
  src/Cart/Mixin.js
Due: eslint, markdownlint

if on first stage of checkout, do not update front end items
  src/Checkout/Mixin.js
Due: eslint

update changelog
  changelog.md
Due: markdownlint

fix changelog error
  changelog.md
Due: markdownlint

update package json version
  package.json
Due: jsonlint

0.5.1
  package-lock.json
  package.json
Due: jsonlint

make sure stage less than or equal to complete stage
  src/Checkout/Mixin.js
Due: eslint

update package version
  package.json
Due: jsonlint

0.5.3
  package-lock.json
  package.json
Due: jsonlint

changelog
  changelog.md
Due: markdownlint

0.5.4
  package-lock.json
  package.json
Due: jsonlint

add notes to order addresses
  src/Checkout/Mixin.js
  src/Schema.js
Due: eslint

0.6.0
  package-lock.json
  package.json
Due: jsonlint

clear discount object after successfull checkout
  src/Checkout/Mixin.js
Due: eslint

0.6.1
  package-lock.json
  package.json
Due: jsonlint

add address county to sync and clear methods
  src/Checkout/Mixin.js
Due: eslint

0.6.2
  package-lock.json
  package.json
Due: jsonlint
