Repository dewsign/maxfactor-vue-cart: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint, jsonlint

.lintstagedrc:

{
    "*.js": [
        "eslint"
    ],
    "*.vue": [
        "eslint"
    ],
    "*.md": [
        "markdownlint"
    ],
    "*.json": [
        "jsonlint"
    ],
    ".*rc": [
        "jsonlint"
    ]
}

Transpile compiled code to avoid errors when compiling for production
  .babelrc
  dist/index.js
  package-lock.json
  package.json
  rollup.config.js
Due: eslint, jsonlint

Remove unused deps
  package-lock.json
  package.json
  rollup.config.js
Due: eslint, jsonlint

Remove unused component and update datastore to correctly compiled version
  dist/index.js
  package-lock.json
  package.json
  src/Cart/CartTest.vue
  src/index.js
Due: eslint, jsonlint

Compile to ES standard and fix issue with loading state not resetting in some situations.
  dist/index.js
  package.json
  rollup.config.js
  src/Checkout/Mixin.js
Due: eslint, jsonlint

Optimise checkout buttons and ensure correct loading state is applied
  dist/index.js
  src/Checkout/Mixin.js
Due: eslint

Improve IE compatibility
  src/Checkout/Mixin.js
Due: eslint

Ensure the country lookup happens when the checkout is loaded for the first time
  src/Checkout/Data.js
Due: eslint

Release 0.0.7
  dist/index.js
  package-lock.json
  package.json
Due: eslint, jsonlint

dont clear shipping details if past default stage
  dist/index.js
  src/Checkout/Mixin.js
Due: eslint

Improve build steps/tooling
  .gitignore
  package.json
Due: jsonlint

Fix build steps order
  package.json
Due: jsonlint

0.0.8
  package-lock.json
  package.json
Due: jsonlint

0.0.9
  package-lock.json
  package.json
Due: jsonlint

Ensure dist files are published
  .npmignore
  package.json
Due: jsonlint

0.0.10
  package-lock.json
  package.json
Due: jsonlint

0.0.11
  package-lock.json
  package.json
Due: jsonlint

Upgrade deps and add isloading helper
  dist/index.js
  package-lock.json
  package.json
  src/Account/Mixin.js
Due: eslint, jsonlint

0.1.0
  package-lock.json
  package.json
Due: jsonlint

Import new support package
  package.json
  rollup.config.js
Due: eslint, jsonlint

Don't track dist files
  dist/index.js
Due: eslint

Fix issue with logged in status
  src/Account/Mixin.js
Due: eslint

Form Mixin now p[ulled in from support package
  src/Mixins/Form.js
Due: eslint

Form mixin
  src/Checkout/Mixin.js
Due: eslint

Bump version
  package.json
Due: jsonlint

0.2.1
  package-lock.json
  package.json
Due: jsonlint

add county to addresses
  dist/main.js
  package-lock.json
  package.json
  src/Schema.js
Due: eslint, jsonlint

remove dist files
  dist/main.js
Due: eslint

update markdownlint-cli package
  package-lock.json
  package.json
Due: jsonlint

0.2.2
  package-lock.json
  package.json
Due: jsonlint

free order processing
  src/Cart/Mixin.js
  src/Checkout/Mixin.js
  src/Helpers/Make.js
  src/Schema.js
Due: eslint

linting
  src/Helpers/Make.js
Due: eslint

last changes from abandoned paypal branch
  src/Checkout/Mixin.js
Due: eslint

generic process checkout method
  src/Checkout/Mixin.js
Due: eslint

fallback for free order flag
  src/Cart/Mixin.js
Due: eslint

Add readme and changelog as things approach production ready
  changelog.md
  readme.md
Due: markdownlint

0.3.0
  package-lock.json
  package.json
Due: jsonlint

Installed missing packages and repo link
  .markdownlintrc
  changelog.md
  package-lock.json
  package.json
Due: markdownlint, jsonlint

Add npm version badge
  readme.md
Due: markdownlint

Install missing dependencies
  package-lock.json
  package.json
Due: jsonlint

0.3.1
  package-lock.json
  package.json
Due: jsonlint
