Repository dewsign/maxfactor-vue-cart: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint, jsonlint

Improve reliability of location changes
  .babelrc
  package.json
  src/Checkout/Mixin.js
Due: eslint, jsonlint

Force types
  src/Cart/Mixin.js
Due: eslint

Tweaks
  src/Checkout/Mixin.js
  src/Schema.js
Due: eslint

Changelog
  changelog.md
  readme.md
Due: markdownlint

2.0.0
  package.json
Due: jsonlint

Avoid NaN issues by maintaining numeric data types in totals
  src/Cart/Mixin.js
  src/Helpers/Make.js
Due: eslint

Improve number formatting issues
  src/Cart/Mixin.js
  src/Helpers/Make.js
Due: eslint

2.0.1
  package.json
Due: jsonlint

Avoid server variables overwriting client-side entered data with null values
  src/Checkout/Mixin.js
Due: eslint

2.0.2
  package.json
Due: jsonlint

Correctly calculate tax after discount
  src/Cart/Mixin.js
Due: eslint

2.0.3
  package.json
Due: jsonlint

Fix VAT calculation
  src/Cart/Mixin.js
Due: eslint

2.0.4
  package.json
Due: jsonlint

Fix monetary discount percentage calculation
  src/Cart/Mixin.js
Due: eslint

2.0.5
  package.json
Due: jsonlint

Path conditions:
  eslint: (any of: *.js) or (any of: *.vue)
  markdownlint: any of: *.md
  jsonlint: (any of: *.json) or (any of: .*rc)
