Repository dewsign/maxfactor-vue-cart: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint, jsonlint

.lintstagedrc:

{
    "*.js": [
        "eslint"
    ],
    "*.vue": [
        "eslint"
    ],
    "*.md": [
        "markdownlint"
    ],
    "*.json": [
        "jsonlint"
    ],
    ".*rc": [
        "jsonlint"
    ]
}

update changelog
  changelog.md
Due: markdownlint

only update items from server if not viewing first stage
  src/Checkout/Mixin.js
Due: eslint

ensure only checkout items object values are added to cart
  src/Checkout/Mixin.js
Due: eslint

0.6.10
  package-lock.json
  package.json
Due: jsonlint

stop user navigating backwards from complete page
  src/Checkout/Mixin.js
Due: eslint

Updated Changelog
  changelog.md
Due: markdownlint

0.6.11
  package-lock.json
  package.json
Due: jsonlint

Remove Mix as no longer used
  changelog.md
  mix-manifest.json
  package.json
  webpack.mix.js
Due: eslint, markdownlint, jsonlint

Upgrade all packages to latest version
  changelog.md
  package-lock.json
  package.json
Due: markdownlint, jsonlint

Versioning
  changelog.md
Due: markdownlint

0.6.12
  package-lock.json
  package.json
Due: jsonlint

handle monetary discounts
  src/Cart/Mixin.js
  src/Checkout/Mixin.js
  src/Schema.js
Due: eslint

use both percentage and monetary fields
  src/Cart/Mixin.js
  src/Checkout/Mixin.js
  src/Schema.js
Due: eslint

zero value monetary discount
  src/Cart/Mixin.js
Due: eslint

update discount details
  src/Cart/Mixin.js
  src/Checkout/Mixin.js
Due: eslint

check for zero payment success status
  src/Checkout/Mixin.js
  src/Schema.js
Due: eslint

update discount schema
  src/Schema.js
Due: eslint

0.7.0
  package-lock.json
  package.json
Due: jsonlint

paypal bug
  src/Cart/Mixin.js
Due: eslint

rollback paypal bug
  src/Cart/Mixin.js
Due: eslint

changelog
  changelog.md
Due: markdownlint

0.7.1
  package-lock.json
  package.json
Due: jsonlint

stop clearing payment provider
  src/Cart/Mixin.js
Due: eslint

0.7.2
  package-lock.json
  package.json
Due: jsonlint

check for null discount and linting
  package-lock.json
  src/Cart/Mixin.js
Due: eslint, jsonlint

remove package log
  .gitignore
  package-lock.json
Due: jsonlint

gitignore package lock
  .gitignore
Due: none

1.0.0
  package.json
Due: jsonlint

flowmap
  flowchart.svg
  readme.md
Due: markdownlint

Ensure monetary values are formatted to decimal points
  src/Helpers/Make.js
Due: eslint

1.0.1
  package.json
Due: jsonlint

Fixes
  src/Cart/Mixin.js
  src/Checkout/Mixin.js
  src/Schema.js
Due: eslint

Form Error handling
  src/Checkout/Mixin.js
Due: eslint

WIP
  package.json
  src/Checkout/Mixin.js
Due: eslint, jsonlint

Reducing quantity would always remove the entire item regardless of minimum quantity
  src/Cart/Mixin.js
Due: eslint
