Repository dewsign/maxfactor-vue-cart: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint, jsonlint

.lintstagedrc:

{
    "*.js": [
        "eslint"
    ],
    "*.vue": [
        "eslint"
    ],
    "*.md": [
        "markdownlint"
    ],
    "*.json": [
        "jsonlint"
    ],
    ".*rc": [
        "jsonlint"
    ]
}

changelog
  changelog.md
Due: markdownlint

Set the loading state on the shared state instead of a local variable for improved consistancy
  src/Checkout/Mixin.js
Due: eslint

Avoid user clicking checkout submit button multiple times and charging the customer more than once
  src/Checkout/Mixin.js
Due: eslint

Update changelog
  changelog.md
Due: markdownlint

Update and remove packages to fix vulnerability
  package-lock.json
  package.json
Due: jsonlint

0.6.3
  package-lock.json
  package.json
Due: jsonlint

serverstage passed into vue
  src/Checkout/Mixin.js
Due: eslint

reset cart uid on invalid checkout
  src/Checkout/Mixin.js
Due: eslint

invalidate checkout if state complete
  src/Checkout/Mixin.js
Due: eslint

clear stage and shipping method on delete cart
  src/Checkout/Mixin.js
Due: eslint

use server stage if ahead of client
  src/Checkout/Mixin.js
Due: eslint

install lodash
  package-lock.json
  package.json
  rollup.config.js
Due: eslint, jsonlint

server stage validation in handleinvalid checkout
  src/Checkout/Mixin.js
  src/Schema.js
Due: eslint

New carts default to use shipping
  src/Checkout/Mixin.js
Due: eslint

Check server stage is less than complete when handling invalid checkout
  src/Checkout/Mixin.js
Due: eslint

uninstall lodash
  package-lock.json
  package.json
  rollup.config.js
Due: eslint, jsonlint

reset payment and discount data
  src/Checkout/Mixin.js
Due: eslint

Make handle invalid if statements consistant
  src/Checkout/Mixin.js
Due: eslint

PR updates
  src/Checkout/Mixin.js
Due: eslint

Allow the customer to load the complete page if server stage is complete
  src/Checkout/Mixin.js
Due: eslint

ensure server stage is of type number
  src/Checkout/Mixin.js
Due: eslint

remove package lock
  package-lock.json
Due: jsonlint

add package lock file
  package-lock.json
Due: jsonlint

package lock
  package-lock.json
Due: jsonlint

packagfe lock
  package-lock.json
Due: jsonlint

0.6.4
  package-lock.json
  package.json
Due: jsonlint

update changelog
  changelog.md
Due: markdownlint

0.6.5
  package-lock.json
  package.json
Due: jsonlint

0.6.6
  package-lock.json
  package.json
Due: jsonlint

set error on form mixin
  src/Checkout/Mixin.js
Due: eslint

0.6.7
  package-lock.json
  package.json
Due: jsonlint

0.6.8
  package-lock.json
  package.json
Due: jsonlint

check for paypal success state
  src/Checkout/Mixin.js
Due: eslint

refactor paymentResponse success processing
  src/Checkout/Mixin.js
Due: eslint

0.6.9
  package-lock.json
  package.json
Due: jsonlint
